@import "../less/variable";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.page {
  position: relative;
  // overflow: hidden;
  height: 100vh;
  overflow: hidden;
  .middle{
    padding-top: @headerHeight;
    height: 100%;
    position: relative;
  }


  .gridIn{
    padding-left: 50px;
    position: relative;
    z-index: 0;
  }
}

.entry-div {
  height: 100vh;
  width: 100vw;
}
.content-wrap-app {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}